body{
	background-color: #db3064;
	text-align: center;

}
header{
	margin-right: 100px;
	margin-left: 100px;
	border: dotted;
	border-color: white;
	display: block;
	font-size: 80px;
	color: white;
	background: black;
}
nav{
	font-size: 40px;
	color: #15d6b0;

}
p{
	font-size: 30px;
	border: 5px solid black;
	margin-left: 100px;
	margin-right: 100px;
	display: block;
	padding: 40px;
	color: black;
	background: #26c2ff;
}
.one{
	background-color: white;
}

